@bright-blue: #33A2CC;
@border-gray: #d3d3d3;

.checklist-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.checklist-header {
  width: 50%;
}

.checklist-overview {
  border: 1px solid @border-gray;
  border-radius: 4px;
  margin-top: 32px;
  padding: 24px;
  text-align: center;
  width: 48%;
}

.checklist-question {
  margin-bottom: 8px;
}

.checklist-options-container {
  height: 38px;
  position: relative;
  width: 144px;

  .checklist-option-icon {
    cursor: pointer;
    position: absolute;
  }

  .checklist-option {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 30px;
    z-index: 1;
  }
}

.checklist-options-svg {
  cursor: pointer;

  .svg-option-box {
    transition: fill ease 0.2s;
    -webkit-transition: fill ease 0.2s;
  }
}
