@font-large: 42px;

.login-header,
.signup-header {
  margin-top: 120px;
}

.blog-title {
  font-size: @font-large;
  margin-bottom: 70px;
  letter-spacing: 0.6px;
}

.about-content {
  line-height: 1.6;
  width: 80%;
}

.screenshot-image {
  max-width: 100%;
}

@media (max-width: 800px) {
  .about-content {
    width: 90%;
  }
}
