@border-gray: #d0d0d0;
@light-gray: #eee;
@black: #2b2b2b;

.entry-container {
  margin-bottom: 80px;
}

.entry-content {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

