@gray: #979797;
@faded-gray: #b4b4b4;
@border-gray: #b4b4b4;
@bright-blue: #33A2CC;

.task-sublist {
  margin-top: 16px;
  max-width: 800px;
  padding-left: 0px;
}

.plus-icon {
  cursor: pointer;
  margin-left: 24px;
  height: 20px;
  vertical-align: -2px;
}

.task-item-container {
  list-style: none;
  padding: 0;

  .task-description,
  .imperative-description,
  .task-points {
    display: inline-block;
  }

  .task-description {
    width: 400px;
  }

  .imperative-description {
    cursor: pointer;
    width: 80%;
  }

  .task-points {
    width: 240px;
  }
}

.task-item {
  padding: 12px 24px;
  transition: color ease 0.4s, opacity ease 0.4s;
  -webkit-transition: color ease 0.4s, opacity ease 0.4s;

  .number-label {
    display: inline-block;
    margin-right: 16px;
  }

  .edit-icon,
  .task-active-icon {
    cursor: pointer;
    visibility: hidden;
  }

  .remove-icon {
    cursor: pointer;
    display: none;
    height: 16px;
    transform: rotate(45deg);
    margin-right: 16px;
    margin-top: 2px;
  }

  .task-active-icon {
    margin-left: 24px;
    height: 16px;
    transition: transform ease 0.4s;
    -webkit-transition: transform ease 0.4s;

    &.active {
      transform: rotate(45deg);
    }
  }

  &.inactive {
    color: @faded-gray;
    opacity: 0.9;
  }

  &.editable:hover {
    background-color: #E7FCFF;
    border-radius: 4px;

    .edit-icon,
    .task-active-icon {
      visibility: visible;
    }

    .remove-icon {
      display: inline-block;
    }

    .number-label {
      display: none;
    }
  }
}

.challenge-item {
  padding: 4px 24px;

  &.inactive {
    color: @faded-gray;
    opacity: 0.9;
  }

  .subscription-btn {
    min-width: 168px;
  }
}

.task-description-input,
.new-category-input {
  width: 385px;
  margin-bottom: 0px;
}

.imperative-description-input {
  width: 100%;
  margin-bottom: 0px;
  padding-left: 44px;
}

.task-points-input {
  min-width: 124px;
  width: 124px;
  margin-bottom: 0px;

  .dropdown-menu {
    min-width: 144px;
  }
}

.new-category-form {
  margin-top: 40px;
}

.reporting-percentage-item {
  font-size: 14px;
  list-style-type: none;
  padding-bottom: 8px;
}

.percentage-bar-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

.percentage-bar {
  background-color: @bright-blue;
  padding: 2px;
}
