@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
/* Fonts */
@font-serif: 'Tinos', serif;
@font-san-serif: 'Helvetica Neue', Arial, san-serif;
@font-handwritten: 'Covered By Your Grace', cursive;

/* Colors */
@border-gray: #b4b4b4;
@light-gray: #eee;
@light-gray-2: #D8D8D8;
@light-gray-3: #eaeaea;
@gray: #979797;
@gray-2: #bbbbbb;
@dark-gray: #5E5E5E;
@black: #2b2b2b;
@dark-green: #3e886b;
@bright-green: #3db787;
@bright-blue: #33A2CC;
@red: #da2a54;
@white: #fff;

/* Spacing */
@margin-default: 16px;

/* Base CSS */
* {
  box-sizing: border-box;
}

html,
body,
.app {
  height: 100%;
  font-family: @font-san-serif;
  font-size: 18px;
  font-weight: 300;
}

.app {
  padding: 80px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: @font-san-serif;
  letter-spacing: 0.4px;
  margin-top: 8px;
  margin-bottom: @margin-default;
}

h1 {
  font-size: 44px;
  font-weight: 100;
}

h2 {
  font-size: 36px;
  font-weight: 300;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

a {
  color: @bright-blue;
  text-decoration: none;
}

.btn-default {
  background: @light-gray-3;
  border: 1px solid @light-gray-3;
  border-radius: 2px;
  box-shadow: none;
  color: @dark-gray;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 16px 24px;

  &.-large {
    font-size: 14px;
    padding: 10px 16px;
  }

  &:hover {
    background: @light-gray;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    border-color: @light-gray;
  }
}

// TODO: deprecate
.button-default {
  background: transparent;
  border: 1px solid @border-gray;
  border-radius: 2px;
  box-shadow: none;
  color: @black;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: @margin-default;
  margin-right: @margin-default;
  padding: 8px 16px;

  &.-large {
    font-size: 14px;
    padding: 10px 16px;
  }

  &:hover {
    background: @light-gray;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    border-color: @black;
  }
}

.label-default {
  font-family: @font-san-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}

.input-default {
  border: 1px solid @border-gray;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: @margin-default;
  padding: 8px 16px;

  &.-large {
    font-size: 16px;
    padding: 12px 16px;
  }

  &.-wide {
    width: 100%;
  }

  &.-inline {
    display: inline-block;
    margin-right: @margin-default;
  }

  &:focus {
    border-color: @black;
    outline: 0;
  }
}

.checkbox-container {
  display: block;
  font-size: 18px;
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .checkbox-indicator {
    cursor: pointer;
    border: 1px solid @gray;
    border-radius: 2px;
    height: 16px;
    left: 0px;
    position: absolute;
    top: 1px;
    width: 16px;

    &.on {
      border-color: @bright-blue;
      background-color: @bright-blue;
      transition: all ease 0.2s;
      -webkit-transition: all ease 0.2s;
    }
  }

  .checkbox-label {
    cursor: pointer;
    line-height: 20px;

    &.on {
      color: @bright-blue;
      font-weight: 400;
      transition: all ease 0.2s;
      -webkit-transition: all ease 0.2s;
    }
  }
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.default-container {
  max-width: 1080px;
  margin: 0 auto;
}

.component-container {
  border: 1px solid @border-gray;
  border-radius: 4px;
  padding: 32px;
  margin: 24px 0px;
}

.text-handwritten {
  font-family: @font-handwritten;
}

.text-light {
  font-weight: 100;
}

.text-red {
  color: @red;
}

.text-blue {
  color: @bright-blue;
}

.text-active {
  color: @bright-blue;
  font-weight: 400;
}

.text-inactive {
  color: @gray-2;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-icon {
  margin-right: 24px;
}

@media (max-width: 880px) {
  .app {
    padding: 40px;
  }
}
