.entry-container {
  margin-bottom: 80px;
}

.entry-content {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}
