<section>
  <h1>{{ $ctrl.name }}</h1>

  <div>
    <input
      type="text"
      placeholder="Title"
      ng-model="$ctrl.entry.title" />
  </div>

  <div>
    <textarea
      type="text"
      ng-model="$ctrl.entry.content" />
    </textarea>
  </div>

  <div>
    <button ng-click="$ctrl.add($ctrl.entry)">
      Add
    </button>
  </div>

  <ul>
    <li>
      <entry
        ng-repeat="ent in $ctrl.entries"
        entry="ent"
        on-remove="$ctrl.remove(ent.id)">
      </entry>
    </li>
  </ul>
</section>
